
body {
    background-color: black;
    margin-top: 50px;
}

.home-background {
    overflow: hidden;
    background-image: url("/static/img/background_armadio_rosso.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (max-width : 992px){
    .home-background {
        overflow: hidden;
        background-image: url("/static/img/background_armadio_mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.light-background {
    overflow: hidden;
    background-image: url("/static/img/background_armadio_chiaro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Custom page header */
.header {
    padding-bottom: 10px;
    margin: 0;
    text-transform: uppercase;
    /*border-bottom: 1px solid #e5e5e5; */
}
.header > a {
    text-decoration: none;
}



.vertically-centered {
    vertical-align: middle;
    margin:auto;
}

.wide-title {
    color: white;
    font-size: 28pt;
    font-weight: bold;
}
.wide-description {
    color: white;
    font-size: 14pt;
}
.btn-wide {
    font-size: 16pt;
    line-height: 1.5;
    padding: 15px 10% 15px 10%;
}


.green-tick{
    width:20%;
    position:absolute;
    right: 10px;
    bottom: 10px;
}





.inner-img {
    width: 100%;
    height: 100%;    
}
.inner-img img {
    z-index:1;
    -webkit-transition: all 0.2s ease; /* Safari and Chrome */
    -moz-transition: all 0.2s ease; /* Firefox */
    -ms-transition: all 0.2s ease; /* IE 9 */
    -o-transition: all 0.2s ease; /* Opera */
    transition: all 0.2s ease;
}
.inner-img:hover img {
    z-index:10;
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}



/* Custom page footer */
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    color: #777;
    /* border-top: 1px solid #e5e5e5; */
    background: black;
}





/* Stile loader di /page3 */

.animationFade {
	animation-name: fade;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-delay: 0s;
}

.saving span {
	font-size: 40px;
}

.saving span:nth-child(2) {
	font-size: 60px;
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

.saving span:nth-child(3) {
	font-size: 60px;
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-delay: .2s;
}

.saving span:nth-child(4) {
	font-size: 60px;
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-delay: .4s;
}

@keyframes blink { 
    0% {
	    opacity: .2;
    }
    20% {
        opacity:1;
    }
    100% {
        opacity:.2;
    }
}
@keyframes fade { 
    0% {
	    opacity: 0.1;
    }
    20% {
        opacity:1;
    }
    80% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

       
