/* Space out content a bit */
body {
    padding: 20px 5%;
}

/* Custom page header */
.header {
    padding-bottom: 10px;
    margin: 0;
    text-transform: uppercase;
    /*border-bottom: 1px solid #e5e5e5; */
}
.header > a {
    text-decoration: none;
}


.spacedrow div h1, 
.spacedrow div p, 
.spacedrow div a{
    margin: 5%;
}

.background {
    margin: 10%;
    width: 80%;
}





.custom-nav-btn {
    list-style: none;
    font-size: 20px;
}
.custom-nav-btn li {
    margin-left: 50px;
}


.btn-wide {
    font-size: 26px;
    line-height: 1.5;
    padding: 15px 10% 15px 10%;
}

.spaceddiv {
    padding-top:2%;
    padding-bottom:2%;
}

/* Custom page footer */
.footer {
    margin-top: 20px;
    padding-top: 20px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
