{% extends "base_template.html" %} {% block content %}
<div style="padding: 5% 10%; ">

	<h1 class="text-center">About Us</h1>
	<hr>

	<div><!-- style="overflow-y: scroll; height: 380px; "-->
		<p class="lead">
			<i>WHO ARE WE?</i>
		</p>
		<p>We're a team of students at the Politecnco di Milano working in the Data Science domain.
		Our goal with this App is to help users improving their style and suggest them new outfits
		in an easy and interactive way.
		<br/>
		<p class="lead">
			<i>WHAT DO WE PROPOSE?</i>
		</p>
		 Our Idea is to understand the users' style from their photos posted
		on the social networks and recommend them interesting, new and cool clothes using Big Data analysis 
		in the Fashion scope.  </p>
		
		
		<div class="container" >
			<div class="row">
				<div class="col-xs-12">
				<hr>
				<h4 class="text-left bold">TEAM Members</h4>
				
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading italic">Sara Zanzottera</h4>
							<p>
								<kbd>CEO</kbd><br /> write your description... here...
							</p>
						</div>
						<div class="media-right">
							<img src="../static/img/Foto_Sara.jpg" class="media-object"
								width="120px">
						</div>
					</div>
					
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading italic">Davide Anghileri</h4>
							<p>
								<kbd>Product Manager</kbd><br /> Double Degree Student of Data Science at
								Politecnico di Milano (POLIMI) and EIT Digital Master School. <br />
								22 years-old, Italy.
							</p>
						</div>
						<div class="media-right">
							<img src="../static/img/Foto_Davide.png" class="media-object"
								width="120px">
						</div>
					</div>
					
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading italic">Antonio Paladini</h4>
							<p>
								<kbd>APP Developer</kbd><br /> Double Degree Student of Data Science at
								Politecnico di Milano (POLIMI) and EIT Digital Master School. <br />
								21 years-old, Italy.
							</p>
						</div>
						<div class="media-right">
							<img src="../static/img/Foto_Antonio.jpg" class="media-object"
								height="120px">
						</div>
					</div>
					
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading italic">Lorenzo Frigerio</h4>
							<p>
								<kbd>Scrum Master</kbd><br /> write your description... here...
							</p>
						</div>
						<div class="media-right">
							<img src="../static/img/Foto_Lorenzo.jpg" class="media-object"
								width="120px">
						</div>
					</div>
					
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading italic">Ivan Vigorito</h4>
							<p>
								<kbd>Domain expert</kbd><br /> write your description... here...
							</p>
						</div>
						<div class="media-right">
							<img src="../static/img/Foto_Ivan.jpg" class="media-object"
								width="120px">
						</div>
					</div>
					
				</div>
			</div>

		</div>
		<hr>
		<h4 class="text-left bold">Contact Us</h4>
		<p>Questions about our application?</p>
		<p>You can contact us via e-mail <a href="mailto:EITeam@gmail.com">EITeam@gmail.com</a></p>
	</div>

</div>


{% endblock %}
