<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <meta name="description" content="2017 Project for Digital Innovation Lab course (powered by IBM Watson) ">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/IBM_Watson_icon.png">

    <title>{{ title }} - EITeam Project</title>

    <!-- Bootstrap core CSS (online) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap core CSS (offline) -->
    <link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>


  <body>

   <div class="container" style="width:100%;">
      <div class="" style="padding:5px;">
        
        
        <div class="row">
            <div class="col-md-2">
                <a href="/home">
                    <img src="../static/img/EITeam_pink_logo.png" style="width:50%;">
                </a>
            </div>
            
            <div class="pull-right" style="text-transform:uppercase;">
                <ul class="custom-nav-btn list-inline">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
            </div>
            
        </div>
      </div>


      {% block content %}
      {% endblock %}
      

      <footer class="footer text-center">
        <p>&copy; 2017 EITeam Company, Inc.</p>
      </footer>

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
