{% extends "base_template.html" %}
{% block content %}
    <div class="row vertically-centered">
       
    <div class="col-md-5 pull-right" style="padding: 10% 0;">
        <div class="col-md-8 text-center">
            <h1 class="text-center wide-title">Hello, {{ user.nickname }}!</h1>
            <p class="wide-description"><i>Usa la tecnologia di IBM Watson per capire il tuo stile dalle tue immagini social e scopri il tuo nuovo outfit alla moda!</i></p>
            <a href="#" class="btn btn-danger btn-wide">Inizia Ora</a>
        </div>
    </div>
    
    <div class="col-md-7 pull-left">
        <!--img class="background img-responsive" src="../static/img/bambina.jpg"-->
    </div>
       
    </div>
{% endblock %}
