{% extends "base_template.html" %}
{% block content %}
    <div class="row vertically-centered">
       
        <div class="col-md-5 pull-right" style="padding: 8% 0;">
            <div class="col-md-8 text-center">
                <h1 class="text-center wide-title">Il tuo nuovo Stile</h1>
                <p class="wide-description"><i>Usa la tecnologia di IBM Watson per capire il tuo stile dalle tue immagini social e scopri il tuo nuovo outfit alla moda!</i></p>
                <a href="/loginTest" class="btn btn-danger btn-wide">Inizia Ora</a>
            </div>
        </div>
    
    </div>
{% endblock %}
