{% extends "base_template.html" %}
{% block content %}
    <div class="row vertically-centered">
       
        <div class="col-md-5 pull-right" style="padding: 8% 0;">
            <div class="col-md-8 text-center">
                <h1 class="text-center wide-title">Il tuo nuovo Stile</h1>
                <p class="wide-description"><i>Usa la tecnologia di IBM Watson per capire il tuo stile dalle tue immagini social e scopri il tuo nuovo outfit alla moda!</i></p>
                <a href="https://www.instagram.com/oauth/authorize/?client_id=62f7b14a1a6141a58748d143744e1538&redirect_uri=http://127.0.0.1:5000/images&response_type=token&scope=basic+likes+public_content" class="btn btn-danger btn-wide">Inizia Ora</a>
            </div>
        </div>
    
    </div>
{% endblock %}
