{% extends "base_template.html" %}
{% block content %}
      <div class="well">
        <h1 class="text-center">Hello World!</h1>
      </div>
      <div style="margin:5%;">
      <script>
      //It is necessary to install this extension of chrome
      //https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en-US
      function myFunction() {
    	  $.ajax({
    		    type: 'POST',
    		    url: 'https://api.instagram.com/oauth/access_token',
    		    // Disable credentials as they were enabled by default
    		    xhrFields: {
    		        withCredentials: false
    		    },
    		    crossDomain: true,
    		    data: {
    		        client_id: "62f7b14a1a6141a58748d143744e1538",
    		        client_secret: "aa73a436fa564d7db469133cd40faaed",
    		        grant_type: 'authorization_code',
    		        redirect_uri: "http://127.0.0.1:5000/loginTest2",
    		        code: "938ce75606c74f6ab7db02758eb354f2"
    		    },
    		    }).always(function(res) {
    		    console.log('Res from Instagram API', res);
    		    
    		    });
      }
         
          </script>
      <button onclick="myFunction()"></button>
      </div>
{% endblock %}
