<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>{{ title }} - Hello World</title>
  </head>
  
  <body>
      <div class="well">
        <h1 class="text-center">Hello World!</h1>
      </div>
      <div style="margin:5%;">
      <a href="https://api.instagram.com/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=code&scope=basic+likes+public_content">
<img border="0" alt="W3Schools" src="logo_w3s.gif" width="100" height="100"></img></a>
      </div>
  </body>
</html>
