{% extends "base_template.html" %}
{% block content %}
    
    <div class="text-center" style="padding: 3% 0;">
    
        <p class="lead">Scegli le foto che preferisci e premi Continua</p>
        
        <div class="container">
            <div class="col-md-8 col-md-offset-2" style="padding:0;">
                <div id="photo-container" class="text-center">
                
                    <div id="image" style="position:relative; display:none;">
                        <div class="inner-img">
                            <img id="img" src="../static/img/sample_outfit.png">
                            <img id="tick" src="../static/img/green-tick.png" class="green-tick" style="display:none;">
                            <a id="max-res-img" href="#" style="display:hidden;"></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="container text-center" style="margin-top:3%;">
            <form id="image-form" action="/page3" enctype="multipart/form-data" method="post">
                <input class="btn btn-danger btn-wide" type=submit value="Continua">
            </form>
        </div>
	    
    </div>
 <style> 
 
 
 
 
 #image2crop  
 {width: 100%;}
 
 </style>
 
 <script>
      function cutting(img,obj) {
    	  var canvas = document.createElement("canvas");
    	    canvas.width = img.width;
    	    canvas.height = img.height;
    	    var ctx = canvas.getContext("2d");
    	    ctx.drawImage(img, 0, 0);
    	    var imgData = ctx.getImageData(obj.x, obj.y,obj.width, obj.height);
    	    ctx.putImageData(imgData, 0, 0);
    	    var dataURL = canvas.toDataURL();
    	    $.ajax({
    	    	  type: "POST",
    	    	  url: "/page3",
    	    	  data: { 
    	    	     imgBase64: dataURL
    	    	  }
    	    	}).done(function(o) {
    	    	  console.log('saved');
    	    	});
		}
        
    	  
    	  
    </script>

    <!-- Modal -->
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel">Ritaglia la tua immagine!</h4>
          </div>
          <div class="modal-body">
            <p>Ritaglia l'immagine e premi Salva</p>
            <div class="img-container" >
            <img id="image2crop" src="../static/img/sample_outfit.png" alt="Picture"  >
            <script>var images = document.getElementById('image2crop')</script>
          	</div>
          </div>
          
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal" >Chiudi</button>
            <button id="saveButton" type="button" class="btn btn-primary" onclick="cutting(document.getElementById('image2crop'),cropper.getData())">Seleziona</button>
          </div>
        </div>
      </div>
    </div>
    
  <!--script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script-->
  <script>
        
 		 window.addEventListener('DOMContentLoaded', function () {
        
        var cropBoxData;
        var canvasData;
        var cropper;
        
        $('#myModal').on('shown.bs.modal', function () {
            cropper = new Cropper( document.getElementById('image2crop'), {
                autoCropArea: 0.5,
                ready: function () {
                    // Strict mode: set crop box data first
                    cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
                }
            });
          }).on('hidden.bs.modal', function () {
            cropper.destroy();
        });
      
    });
        // lastPhotos sta in /static/js/utils.js
        document.addEventListener('DOMContentLoaded',lastPhotos, false);

  </script>
    
    
{% endblock %}
