{% extends "base_template.html" %}
{% block content %}
    <div style="padding:5%;">
    	<script>
    	var link
    	function lastPhotos(){
      	  var access_token=(window.location.href).split("=")[1]
      	  $.ajax({
    		    type: 'GET',
    		    url: 'https://api.instagram.com/v1/users/self/media/recent/?access_token='+access_token+"&count=10&callback=?",

    		    xhrFields: {
    		        withCredentials: false
    		    },
    		    crossDomain: true,
    		    dataType: "jsonp",
    		    }).always(function(res) {
    		    console.log('Res from Instagram API', res);
    		  	for (i = 0; i < res.data.length; i++) { 
    		  		link.push(res.data[i].images.thumbnail.url));
    			}
    		  	
    		    });
      	  
        }
    	</script>
    	<script onload="loadPhotos()"></script>
    	
	    <div class="well">
		    <h1 class="text-center">CIAONE, {{ user.nickname }}!</h1>
	    </div>
	    <div style="margin: 5%;">
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			    aliquip ex ea commodo consequat. Duis aute irure dolor in
			    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			    culpa qui officia deserunt mollit anim id est laborum.</p>
	    </div>
	    <form action="page3" method="POST">
		    <input type="text" name="img1"><input type="text" name="img2">
		    <input type="text" name="img3">
		    <button type="submit">Next</button>
	    </form>
	    
	    
    </div>
{% endblock %}
