{% extends "base_template.html" %}
{% block content %}
    
    <div class="text-center" style="padding: 3% 0;">
    
        <p class="lead">Scegli le foto che preferisci e premi Continua</p>
        
        <div class="container">
            <div class="col-md-8 col-md-offset-2" style="padding:0;">
                <div id="photo-container" class="text-center">
                
                    <div id="image" style="position:relative; display:none;">
                        <div class="inner-img">
                            <img id="img" src="../static/img/sample_outfit.png">
                            <img id="tick" src="../static/img/green-tick.png" class="green-tick" style="display:none;">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="container text-center" style="margin-top:3%;">
            <form id="image-form" action="/page3" enctype="multipart/form-data" method="post">
                <input class="btn btn-danger btn-wide" type=submit value="Continua">
            </form>
        </div>
	    
    </div>
    
    
        
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel">Ritaglia la tua immagine!</h4>
          </div>
          <div class="modal-body text-center">
            <p>Ritaglia l'immagine e premi Salva</p>
            <img id="image2crop" style="width:80%;" src="../static/img/sample_outfit.png">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            <button id="saveButton" type="button" class="btn btn-primary" >Seleziona</button>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <script type="text/javascript">
        // lastPhotos sta in /static/js/utils.js
       	document.addEventListener('DOMContentLoaded',lastPhotos, false);
    </script>
    
    
{% endblock %}
