{% extends "base_template.html" %}
{% block content %}
    
    <div class="text-center" style="padding: 3% 0;">
    
        <p class="lead">Scegli le foto che preferisci e premi Continua</p>
        
        <div class="container">
            <div class="col-md-8 col-md-offset-2" style="padding:0;">
                <div id="photo-container" class="text-center">
                
                    <div id="image" style="position:relative; display:none;">
                        <div class="inner-img">
                            <img id="img" src="../static/img/sample_outfit.png">
                            <img id="tick" src="../static/img/green-tick.png" class="green-tick" style="display:none;">
                            <a id="max-res-img" href="#" style="display:hidden;"></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="container text-center" style="margin-top:3%;">
            <form enctype='application/json' id="image-form" action="/page3" enctype="multipart/form-data" method="post">
               	<input type="hidden" id="imgArray" name="imageArray" value="">
                <input class="btn btn-danger btn-wide" type=submit value="Continua">
               
            </form>
        </div>
	    
    </div>
    
 <style> 
 #image2crop  
 {width: 100%;}
 </style>
 <script>
 var sequence =[];
 
      function cutting(url,obj) {
    	  var image = {
    		'link': url,
			'x': obj.x,	  
    		'y': obj.y,
    		'width': obj.width,
    		'height' : obj.height
    	  }

    	  sequence.push(JSON.stringify(image));
    	  document.getElementById('imgArray').value = JSON.stringify(sequence);
    	  console.log('test1');
		}
		
        
    </script>

    <!-- Modal -->
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel">Ritaglia la tua immagine!</h4>
          </div>
          <div class="modal-body">
            <p>Ritaglia l'immagine e premi Salva</p>
            <div class="img-container" >
            <img id="image2crop" src="../static/img/sample_outfit.png" alt="Picture"  >
            <script>var images = document.getElementById('image2crop')</script>
          	</div>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal" >Chiudi</button>

            <button id="saveButton" type="button" class="btn btn-primary" onclick="cutting(document.getElementById('image2crop').src, cropper('getData')">Seleziona</button>

          </div>
        </div>
      </div>
    </div>
    
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script>
        
 		 window.addEventListener('DOMContentLoaded', function () {
        
        var cropBoxData;
        var canvasData;
        var cropper;
        
        $('#myModal').on('shown.bs.modal', function () {
            cropper = new Cropper( document.getElementById('image2crop'), {
                autoCropArea: 0.5,
                ready: function () {
                    // Strict mode: set crop box data first
                    cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
                }
            });
          }).on('hidden.bs.modal', function () {
            console.log('hello');
            cutting($('#image2crop').attr('src'), cropper.getData());
            cropper.destroy();
        });
      
    });
        // lastPhotos sta in /static/js/utils.js
        document.addEventListener('DOMContentLoaded',lastPhotos, false);

  </script>
    
    
{% endblock %}
