{% extends "base_template.html" %}
{% block content %}
 
<div class="container"> 
    <br> 
    <form role="form" method ="post" action="/page2" enctype="multipart/form-data" >
        <legend>First, upload your Photos!       Remember you should be inside it</legend> 
        <div class="row" id="riga">
            <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-6 text-center" id="toclone" > 
                <div class="img-picker" ></div>
            </div>
        </div>
        <button id="submitBtn" type="submit" class="btn btn-primary" disabled>Submit</button>
    </form> 
</div>


{% endblock %}
