{% extends "base_template.html" %} {% block content %}
<div style="padding: 5% 10%;">

	<h1 class="text-center">Privacy Policy</h1>
	<hr>

	<div>
		<p>
			Last Modified: May 28, 2017 <br> <br> FitYou is new way to
			change and improve your style. You can share with us photos from your
			instragram profile, or from your private directories. We will try to
			improve your outfit by analyzing most recent fashions.<br> Since
			your privacy means much to us, we would like you to learn precisely
			what we are going to do with the information that we collect from
			you. If you have any questions or comments about this Privacy Policy,
			please contact us at <a href="mailto:>FitYouTeam@gmail.com">FitYouTeam@gmail.com</a>.

		
		<hr />
		</p>

		<p class="lead">
			<i>Information Collection and Use</i>
		</p>
		<p>We collect and use your information below to provide our
			Services and to measure and improve our Services from time to time.</p>
		<hr />
		<p class="lead">
			<i>Instagram contents</i>
		</p>
		<p>
			We have access to your profile info and media, especially we ask you
			to share with us some of the photos that you have shared on your
			profile. We have not access to your likes, settings or other private
			profile information. <br> We are not going to share your
			information with other users.
		</p>

		<hr />

		<p class="lead">
			<i>Private contents</i>
		</p>
		<p>We have access only to the images of your gallery that you
			choose. We can't access to other personal data present on your
			device.</p>
		<hr />
		<p class="lead">
			<i>Use</i>
		</p>
		<p>
			We use your pictures to understand your style and to provide you with
			good hints on how to improve it. <br> Your pictures will remain
			private and we won't use them after you have finished to use FitYou.
			<br> We make use of Ibm Watson Visual Recognition services then
			it is possible that some of your pictures are shared with Ibm
			services. Ibm, however, is not authorized to use them for other
			purpose than providing us with the services that we ask for. <br>
			We could make use of your activity on our app in order to improve our
			services and provide better user experiences.
		</p>
		<hr />
		<p class="lead">
			<i>Security</i>
		</p>
		<p>We are committed to ensuring that your information is secure.
			In order to prevent unauthorized access or disclosure we have put in
			place suitable physical, electronic and managerial procedures to
			safeguard and secure the information we collect online.</p>
		<hr />
		<p class="lead">
			<i>Future changes</i>
		</p>
		<p>
			Changes to this PolicyWe may revise this Privacy Policy from time to
			time. The most current version of the policy will govern our use of
			your information and will always be at: <a
				href="http://eiteam-project-eiteam-project.7e14.starter-us-west-2.openshiftapps.com/privacy">http://eiteam-project-eiteam-project.7e14.starter-us-west-2.openshiftapps.com/privacy</a>.
		</p>
	</div>

</div>


{% endblock %}
