{% extends "base_template.html" %} {% block content %}
<div class="text-center" style="padding: 0 0;">
	<!--<h1 class="text-center">Let us know your Opinion!</h1>-->

	<div class="container">
		<div class="col-md-10-offset-1 col-xs-12"
			style="margin-top: -30px; margin-bottom: -51px; padding-right: 0px; padding-left: 0px;">
			<iframe
				src="https://docs.google.com/forms/d/e/1FAIpQLScNkTxclrclOr-pjntAsXsKvTgHJvP-GhnKQiAX0_vF954pDg/viewform?embedded=true"
				width="100%"
				style="height: 69vh; ">Loading...</iframe>
		</div>
	</div>
</div>
{% endblock %}
